name: clipboard
description: A powerful Flutter package that provides clipboard functionality with rich text support, other formats, monitoring, and advanced features.
version: 3.0.0
homepage: https://github.com/samuelezedi/flutter_clipboard

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter