name: clipboard
description: A flutter package that helps copy text to clipboard and paste from clipboard.
version: 0.1.2+8
authors:
  - samuelezedi@gmail.com
homepage: https://github.com/samuelezedi/flutter_clipboard

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter