name: clipboard
description: Flutter clipboard with text, HTML, and image support.
version: 3.0.7
homepage: https://github.com/samuelezedi/flutter_clipboard

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  web: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter